<section class="text-black font-medium text-lg m-3 ml-[186px]">
    <h4>Trending Today</h4>
    <div class="container"> <!-- All The Subs Container-->
        <% @subs.each do |sub| %>
            <div>
                <a href="<%= sub_path(sub.id)%>"><%= sub.title %></a>
            </div> <!-- Each Image Sub -->
        <% end %>
    </div>
</section>