<section class="text-black font-medium text-lg m-3 ml-[170px] dark:text-white">
    <h4 class="text-sm text-gray-700 ml-[50px] pb-4 font-bold">Trending Today 📈</h4>
    <div class=""> <!-- All The Subs Container-->
        <div class="container m-auto h-[50px] grid grid-cols-4"> <!-- Container of the subs cards -->
            <% @subs.order(created_at: :desc).each do |sub| %>
                <a href="<%= sub_path(sub.id) %>">
                    <div class="w-[238px] h-[180px] ml-10">  <!-- Image of the sub-->
                        <div class="z-[1]">
                        <img class="h-[138px] rounded-lg w-[200px] z-[1] absolute"src="https://siecledigital.fr/wp-content/uploads/2021/08/reddit-valorisation-940x550.jpg"/>
                            <div class="relative z-10 overflow-scroll">
                                <h4 class="font-bold text-sm first-letter:uppercase"><%= sub.title %></h4>
                                <p class="text-sm "><%= sub.description %></p>
                            </div>
                        </div>
                    </div>
                </a>
            <% end %>
        </div>
    </div>
</section>
